@import "../pui-variables";

/*doc
---
title: Responsive Utilities
name: responsive_utilities
categories:
 - css_utilities_responsive-utilities
 - react_utilities_responsive-utilities
 - css_all
---

Use a single or combination of the available classes for toggling content across viewport breakpoints.

<table class="styleguide">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small devices
        <small>Phones (&lt;768px)</small>
      </th>
      <th>
        Small devices
        <small>Tablets (&geq;768px)</small>
      </th>
      <th>
        Medium devices
        <small>Desktops (&geq;992px)</small>
      </th>
      <th>
        Large devices
        <small>Desktops (&geq;1200px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.visible-xs-*</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-sm-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-md-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-lg-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.hidden-xs</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-sm</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-md</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-lg</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>


The `.visible-*-*` classes for each breakpoint come in three variations, one for each CSS display property value listed below.

<table class="styleguide">
  <thead>
    <tr>
      <th>Group of classes</th>
      <th>CSS display</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="no-wrap"><code>.visible-*-block</code></td>
      <td class="no-wrap"><code>display: block;</code></td>
    </tr>
    <tr>
      <td class="no-wrap"><code>.visible-*-inline</code></td>
      <td class="no-wrap"><code>display: inline;</code></td>
    </tr>
    <tr>
      <td class="no-wrap"><code>.visible-*-inline-block</code></td>
      <td class="no-wrap"><code>display: inline-block;</code></td>
    </tr>
  </tbody>
</table>

So, for extra small (`xs`) screens for example, the available `.visible-*-*` classes are:

- `.visible-xs-block`
- `.visible-xs-inline`
- `.visible-xs-inline-block`

*/

/*doc
---
title: Background Images
name: responsive_background_images
parent: responsive_utilities
categories:
 - css_utilities_responsive-utilities
 - react_utilities_responsive-utilities
 - css_all
---

<table class="styleguide">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small devices
        <small>Phones (&lt;768px)</small>
      </th>
      <th>
        Small devices
        <small>Tablets (&geq;768px)</small>
      </th>
      <th>
        Medium devices
        <small>Desktops (&geq;992px)</small>
      </th>
      <th>
        Large devices
        <small>Desktops (&geq;1200px)</small>
      </th>
      <th>
        Extra large devices
        <small>Desktops (&geq;1600px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.nobg-xs</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.nobg-sm</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.nobg-md</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.nobg-lg</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.nobg-xl</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>


*/

@media (max-width: $screen-xs-max) {
  .nobg-xs {
    background-image: none !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .nobg-sm {
    background-image: none !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .nobg-md {
    background-image: none !important;
  }
}
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .nobg-lg {
    background-image: none !important;
  }
}
@media (min-width: $screen-xl-min) {
  .nobg-xl {
    background-image: none !important;
  }
}

/*doc
---
title: Print
name: print
categories:
 - css_utilities_print
 - react_utilities_print
 - css_all
---

Similar to the regular responsive classes, use these for toggling content for print.

<table class="styleguide">
  <thead>
    <tr>
      <th>Classes</th>
      <th>Browser</th>
      <th>Print</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <code>.visible-print-block</code><br>
        <code>.visible-print-inline</code><br>
        <code>.visible-print-inline-block</code>
      </th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th><code>.hidden-print</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>


*/
