@import "../pui-variables";

/*doc
---
title: Headers
name: headers
categories:
 - css_base_header
 - css_all
---

To use the helper providing the header:

```
{{fromPackage "@npmcorp/pui-css-header/header.hbs" context}}
```

Context requirements:

- `user` object: If present, includes user avatar and internal navigation menu, otherwise presents login links and sign-in links.
  - `name` property: the user's name
  - `isPaid` property: boolean indicating whether the user is paid
  - `avatar` object: URLs for each size of avatar (this partial uses `small`)
- `env` object: Configuration from the environment of relevance to the display layer
  - `NPMO_COBRAND` propery: A string to display in Enterprise mode
  - `CANONICAL_HOST` property: URL root of this site to form self-referential URLS
- `features` object: Feature flags
  - 'npmo' property: If true, uses the Enterprise header.
- `q` property: The current search terms
- `headerLight` property: true to get the light header
- `heroTransparent` property: true to get the transparent header

Requirements:

- `handlebars-helper-svg` helper
- `form-security` partial

*/


/*doc
---
title: Regular Header
name: header
parent: headers
---

View the [regular header on its own page](/header.html) to see mobile sizing features.

<iframe class="styleguide-demo" src="/header.html"></iframe>

*/

header {
  font-size: 16px;
  padding: 0.875em 20px 0.0625em;
  border-bottom: 1px solid #d3d3d3;
  max-height: $header-height-max-sm;
  background: $header-color;
  color: $header-subtle-text-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/*doc
---
title: Regular Header Logged Out
name: header_logged_out
parent: headers
---

View the [logged out header on its own page](/header-loggedout.html) to see mobile sizing features.

<iframe class="styleguide-demo" src="/header-loggedout.html"></iframe>

*/

/*doc
---
title: Transparent Header
name: transparent_header
parent: headers
---

View the [transparent header on its own page](/header-hero-transparent.html) to see mobile sizing features.

<iframe class="styleguide-demo" src="/header-hero-transparent.html"></iframe>
*/

header.hero-transparent {
  background: transparent;
  border-bottom: 0;
}
header.hero-transparent + .pane {
  margin-top: -($header-height-max-sm);
  padding-top: $header-height-max-sm;
}
header > .header-item {
  flex: 1 auto;
}
header > .brand-container {
  order: 1;
  width: 50%;
}
header > .header-search-container {
  order: 4;
}
header > .user-info-container {
  order: 2;
  width: calc(50% - 60px);
  text-align: right;
}
header > .header-nav-menu-container {
  order: 3;
  width: 60px;
  text-align: right;
}
header ul,
header li,
header ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  color: $header-subtle-text-color;
  &:hover {
    color: $header-text-color;
    text-decoration: none;
    transition: color 0.1s ease, background 0.1s ease;
  }
}

.logo-container {
  padding: 0;
  width: 80px;
  vertical-align: middle;
}
.logo-container svg {
  width: 100%;
}
.logo-container .cobrand {
  font-weight: bold;
}
.logo-container .cobrand::before {
  content: "♥︎";
  font-size: 150%;
  color: $npmred;
  vertical-align: middle;
  padding: 0 0.5em;
}
.npm-expansions {
  display: none;
  text-align: left;
}
.nav-toggle {
  width: 54px;
  padding: 0 5px;
}

header {
  .drop-down-menu-section li {
    border-bottom: 1px solid #808080;
  }

  .drop-down-menu-toggle,
  .drop-down-menu-section a,
  .drop-down-menu button,
  .drop-down-menu {
    background-color: inherit;
    color: inherit;
  }

  .drop-down-menu-toggle.toggle-is-open,
  .drop-down-menu {
    background-color: $header-secondary;
  }

  .drop-down-menu-toggle::after {
    display: none;
  }
  .drop-down-menu-toggle.toggle-is-open svg {
    transform: rotate(180deg);
  }

}

.header-drop-down-icon {
  // Like the .icon class, but duplicated here because this has to work on non-component pages.
  height: 0.73em;
  width: 0.73em;
  padding: 1px; // Forces rounding to go the right direction to keep all the lines in the icon visible.
  vertical-align: baseline;
  fill: currentColor;
}

.nav-toggle img {
  max-width: 100%;
}
.nav-toggle:after {
  content: none;
}
.nav-toggle.toggle-is-open:after {
  content: none;
}
.site-search {
  position: relative;
}
.site-search input[type=search] {
  background-color: transparent;
  color: inherit;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0;
  margin: 0 0 20px;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
  display: block;
  width: 100%;
  outline: 0;
}
.site-search [type=submit] {
  position: absolute;
  top: 1px; // So borders don't overlap, since they're rgba
  right: 0;
  height: 34px;
  width: 34px;
  padding: 6px;
  @media (min-width: $screen-sm-min) {
    height: 48px;
    width: 48px;
    padding: 14px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  margin-bottom: 0px;
  border: 0;
  cursor: pointer;
  display: block;
  color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.user-info img {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
}
.logged-in .user-info,
.logged-in .user-info-container {
  text-align: right;
}
.logged-in .user-info-salutation {
  display: none;
  vertical-align: middle;
  max-width: 200px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: elilipsis;
  color: inherit;
  white-space: nowrap;
}
.anonymous .user-info-container {
  width: calc(70% - 44px);
}
.anonymous .user-info-salutation {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.anonymous .user-info-salutation > li {
  flex: 1 auto;
}
.anonymous .user-info-salutation > li:first-child {
  width: calc(100% - 45px);
}
.anonymous .user-info-salutation > li:last-child {
  width: 45px;
}
.anonymous .header-nav-menu-container {
  width: 44px;
}

.autocomplete-group {
  display: none;
}

.autocomplete-suggestion {
  padding: 2px 15px !important;
}

#powered-by-constructor-io {
  background: $npm-navy;
  color: $header-subtle-text-color;

  a {
    color: $header-subtle-text-color;
    text-decoration: none;
    &:hover {
      color: $gray-11;
    }
  }
}


@media (min-width: $screen-sm-min) {
  header {
    max-height: initial;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 0 20px;
    align-items: stretch;
  }
  header > .header-item {
    flex-basis: auto;
    flex-shrink: 0;
    padding: 1.25em 0;
  }
  header > .brand-container {
    order: 1;
    flex-grow: 0;
    width: 125px;
  }
  header > .header-search-container {
    order: 2;
    flex-grow: 1;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header > .user-info-container {
    order: 3;
    flex-grow: 0;
    width: auto;
    min-width: 212px;
    text-align: left;
  }
  header > .header-nav-menu-container {
    order: 4;
    flex-grow: 1;
    width: 100%;
    padding: 0 20px;
    margin: 0 -20px;
    background-color: $npm-menu-red;
    display: flex;
    align-content: space-between;
    align-items: center;
  }
  header > .header-nav-menu-container .npm-expansions,
  header > .header-nav-menu-container .nav-menu-container {
    flex: 1 auto;
  }
  header > .header-nav-menu-container .npm-expansions {
    flex-grow: 10;
  }
  header.hero-transparent + .pane {
    margin-top: -6em;
    padding-top: 6em;
  }
  header.anonymous .user-info-container {
    width: auto;
    min-width: auto;
  }
  header.anonymous .user-info-container,
  header.anonymous .user-info {
    text-align: right;
  }
  header.anonymous .header-nav-menu-container {
    width: 100%;
  }
  .header-nav-menu-container a {
    font-size: 0.9em;
  }
  .drop-down-menu-container {
    display: block;
    text-align: center;
  }
  .nav-menu-container .drop-down-menu-container li a {
    text-align: center;
  }
  .nav-menu-container .drop-down-menu-container li a:hover {
    background: header-nav-highlight-bg;
  }
  .npm-expansions {
    display: block;
  }
  .nav-toggle {
    display: none;
  }
  .header-item .product-navigation,
  .header-item .product-navigation.hidden {
    display: block !important;
    position: static;
    background-color: transparent;
    border-radius: 0;
    width: auto;
  }
  .header-item .products-list {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
  }
  .header-item .products-list li {
    padding: 0 0 0 0.9375em;
    border-bottom: 0;
    flex: 1 auto;
  }
  .header-item .products-list li a,
  .npm-expansions {
    padding: 0.625em 0;
    color: $header-subtle-text-color;
  }
  .header-item .products-list li a:hover,
  .npm-expansions:hover {
    color: $header-text-color;
    text-decoration: none;
  }
  .logo-container {
    width: 125px;
  }
  .site-search input[type="search"] {
    height: 3.125em;
    margin: 0;
  }
  .site-search input[type="submit"] {
    width: 70px;
    height: 2.777em;
    border-left: 1px solid rgba(255,255,255,0.2);
    text-indent: -9999em;
    background-position: 50% 50%;
    background-size: 16px 16px;
  }
  .site-search input[type="submit"]:focus {
    border: 1px solid rgba(255,255,255,0.8);
  }
  .logged-in .user-info-salutation {
    display: inline-block;
  }
}

/*doc
---
title: Light Header
name: light_header
parent: headers
---

View the [light header on its own page](/header-light.html) to see mobile sizing features.

On a light background:

<iframe class="styleguide-demo" src="/header-light.html"></iframe>

*/

header.header-light {
  background-color: transparent;
  color: $text-color;
  border-bottom: 0;

  > .user-info-container {
    color: $text-color;
  }

  .site-search input[type=search] {
    border: 1px solid $gray-8;
  }
  .site-search input[type=submit] {
    color: inherit;
  }

  .drop-down-menu-toggle {
    border: 1px solid transparent; // To avoid layout jank when the border shows on open
  }

  .drop-down-menu-toggle:hover,
  .drop-down-menu-toggle:focus,
  .drop-down-menu-toggle.toggle-is-open,
  .drop-down-menu-section li:hover {
    color: darken($text-color, 25%);
    transition: color 0.1s ease;
  }

  .drop-down-menu-toggle:hover,
  .drop-down-menu-toggle:focus,
  .drop-down-menu-toggle.toggle-is-open,
  .drop-down-menu {
    box-shadow: 0 3px 5px $gray-8;
    border: 1px solid $gray-8;
    background-color: inherit;
  }

  .drop-down-menu {
    background-color: white;
    @media (min-width: $screen-sm-min) {
      border: none;
    }

    a:hover,
    button:hover {
      color: inherit;
    }
  }
  .drop-down-menu-section li {
    border-bottom: 1px solid $gray-8;
    @media (min-width: $screen-sm-min) {
      border: 1px solid $gray-8;
    }
  }

  @media (min-width: $screen-sm-min) {
    .product-navigation {
      box-shadow: none;
      border: none;
      background-color: transparent;
      .drop-down-menu-section li {
        border: none;
      }
    }
  }
}

/*doc
---
title: Enterprise Header
name: enterprise_header
parent: headers
---

View the [enterprise header on its own page](/header-enterprise.html) to see mobile sizing features.

<iframe class="styleguide-demo" src="/header-enterprise.html"></iframe>

*/

header.header-enterprise {
  .header-nav-menu-container {
    @media (max-width: $screen-xxs-max) {
      order: 2;
    }
  }

  .brand-container,
  .logo-container {
    width: auto;
  }
  .brand-container {
    flex-grow: 0;
    padding-right: 1em;
    display: flex;
    align-items: center;;
    @media (max-width: $screen-xxs-max) {
      margin-bottom: 10px
    }
  }

  .header-search-container {
    flex-grow: 1;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .header-drop-down-icon {
    font-size: 54px;
  }

  .logo-container svg {
    width: 5em;
    vertical-align: middle;
  }

  .cobrand {
    @media (max-width: $screen-xxs-max) {
      display: none;
    }
  }
}
