@import "../pui-variables";

/*doc
---
title: Dividers
name: divider
categories:
 - css_base_dividers
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install @npmcorp/pui-css-dividers --save
</i>
</code>


Dividers draw horizontal lines between different content groupings.

```html_example
<hr class="divider-alternate-1"/>
<hr class="divider-alternate-2"/>
<hr class="divider-alternate-3"/>

<hr class="divider-alternate-turquoise-1"/>
<hr class="divider-alternate-turquoise-2"/>
<hr class="divider-alternate-turquoise-3"/>
```

```html_inverse_example
<hr class="divider-1"/>
<hr class="divider-2"/>
<hr class="divider-3"/>
```

*/


.divider-alternate-1 {
  border: 1px solid $divider-alternate-color;
  border-width: 1px 0 0 0;
}

.divider-alternate-2 {
  border: 2px solid $divider-alternate-color;
  border-width: 2px 0 0 0;
}

.divider-alternate-3 {
  border: 3px solid $divider-alternate-color;
  border-width: 3px 0 0 0;
}

.divider-alternate-turquoise-1 {
  border: 1px solid $divider-alternate-turquoise-color;
  border-width: 1px 0 0 0;
}

.divider-alternate-turquoise-2 {
  border: 2px solid $divider-alternate-turquoise-color;
  border-width: 2px 0 0 0;
}

.divider-alternate-turquoise-3 {
  border: 3px solid $divider-alternate-turquoise-color;
  border-width: 3px 0 0 0;
}

.divider-1 {
  border: 1px solid $divider-color;
  border-width: 1px 0 0 0;
}

.divider-2 {
  border: 2px solid $divider-color;
  border-width: 2px 0 0 0;
}

.divider-3 {
  border: 3px solid $divider-color;
  border-width: 3px 0 0 0;
}
