@import "../pui-variables";

/*doc
---
title: Viewport Pane
name: viewport_pane
categories:
 - css_utilities_panes
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install @npmcorp/pui-css-viewport-panes --save
</i>
</code>

Viewport panes are type of [pane](/pane.html) that have a height that is based upon
the height of your viewport. They require being the pane directly following the `<header>`.

You can add the `.viewport-pane` class to the top pane of a layout.

```html_example
<header class="logged-in">
    <!-- logo -->
    <div class="header-item brand-container">
      <div class="logo-container" id="npm-logo">
        <a href="/" class="active"><img src="/static/images/npm-logo.svg" alt="npm logo"></a>
      </div>
    </div>
    <!-- /logo -->


    <!-- search -->
    <div class="header-item header-search-container">
      <form class="site-search" id="npm-search" action="/search" method="get" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="https://www.npmjs.com/search?q={q}">
        <div id="site-search-container">
            <input name="q" value="" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" autocomplete="off">
        </div>
        <input type="submit">
      </form>
    </div>

    <!-- menu 1 -->
    <div class="header-item user-info-container">
      <div class="user-info">
          <div class="drop-down-menu-container" role="navigation">

            <a id="user-info-drop-down-menu-toggle" class="drop-down-menu-toggle" href="#user-info-menu" role="button" aria-haspopup="true" aria-owns="user-info-menu"><span class="a11y-only">Toggle User Menu</span>
              <span class="user-info-salutation" data-user-name="rockbot" data-is-paid="">Greetings, <span id="salutation-username">rockbot</span></span>
              <img alt="" src="https://s.gravatar.com/avatar/583a0cfd3e0ec851166c5c6fa5e506a5?size=50&amp;default=retro">
            </a>

            <div role="menu" id="user-info-menu" class="drop-down-menu" aria-labelledby="user-info-drop-down-menu-toggle">
              <div class="drop-down-menu-section">
                <ul>
                  <li><a href="/~rockbot">profile</a></li>
                  <li><a href="/profile-edit">personal info</a></li>
                  <li><a href="/settings/billing">billing</a></li>
                  <li><a href="/settings/tokens">tokens</a></li>
                  <li><form method="POST" action="/logout">  <input type="hidden" name="crumb" value="jSXg5k67i29hI9QD2ShPcL1Olq77qMooJV2OsN8yYKA">
<button type="submit" class="btn-link">logout</button></form></li>
                </ul>
              </div> <!-- .drop-down-menu-section -->
            </div> <!-- .drop-down-menu -->
          </div> <!-- .drop-down-menu-container -->
      </div> <!-- .user-info -->
    </div>
    <!-- /menu 1 -->

    <!-- menu 2 -->
    <div class="header-item header-nav-menu-container">
      <a href="#" id="npm-expansions" class="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">New Project, Monday</a>

      <div class="nav-menu-container" role="navigation">
        <a class="nav-toggle drop-down-menu-toggle" href="#product-navigation"><span class="a11y-only">Toggle Navigation</span>
          <img alt="mobile navigation menu" src="/static/images/mobile-menu.png">
        </a>


        <div class="drop-down-menu-container" role="menu">
          <nav id="product-navigation" class="product-navigation drop-down-menu">
            <ul class="drop-down-menu-section products-list">
              <li><a href="/npm/on-site" class="h6">npm On-Site</a></li>
              <li><a href="/npm/private-packages" class="h6" data-event-trigger="click" data-event-name="private-modules-nav-link">npm Private Packages</a></li>
              <li><a href="/npm/open-source" class="h6">npm Open Source</a></li>
              <li><a href="https://docs.npmjs.com" class="h6">documentation</a></li>
              <li><a href="/support" class="h6">support</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /menu 2 -->



  </header>
<div class="pane bg-dark-2 viewport-pane">
  <div class="container">
    <h1 class="type-neutral-11">This is a viewport pane</h1>
  </div>
</div>

```

For a viewport pane that shows just enough that there is a fold below, use `.viewport-pane-long`:

```html_example
<header class="logged-in">
    <!-- logo -->
    <div class="header-item brand-container">
      <div class="logo-container" id="npm-logo">
        <a href="/" class="active"><img src="/static/images/npm-logo.svg" alt="npm logo"></a>
      </div>
    </div>
    <!-- /logo -->


    <!-- search -->
    <div class="header-item header-search-container">
      <form class="site-search" id="npm-search" action="/search" method="get" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="https://www.npmjs.com/search?q={q}">
        <div id="site-search-container">
            <input name="q" value="" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" autocomplete="off">
        </div>
        <input type="submit">
      </form>
    </div>

    <!-- menu 1 -->
    <div class="header-item user-info-container">
      <div class="user-info">
          <div class="drop-down-menu-container" role="navigation">

            <a id="user-info-drop-down-menu-toggle" class="drop-down-menu-toggle" href="#user-info-menu" role="button" aria-haspopup="true" aria-owns="user-info-menu"><span class="a11y-only">Toggle User Menu</span>
              <span class="user-info-salutation" data-user-name="rockbot" data-is-paid="">Greetings, <span id="salutation-username">rockbot</span></span>
              <img alt="" src="https://s.gravatar.com/avatar/583a0cfd3e0ec851166c5c6fa5e506a5?size=50&amp;default=retro">
            </a>

            <div role="menu" id="user-info-menu" class="drop-down-menu" aria-labelledby="user-info-drop-down-menu-toggle">
              <div class="drop-down-menu-section">
                <ul>
                  <li><a href="/~rockbot">profile</a></li>
                  <li><a href="/profile-edit">personal info</a></li>
                  <li><a href="/settings/billing">billing</a></li>
                  <li><a href="/settings/tokens">tokens</a></li>
                  <li><form method="POST" action="/logout">  <input type="hidden" name="crumb" value="jSXg5k67i29hI9QD2ShPcL1Olq77qMooJV2OsN8yYKA">
<button type="submit" class="btn-link">logout</button></form></li>
                </ul>
              </div> <!-- .drop-down-menu-section -->
            </div> <!-- .drop-down-menu -->
          </div> <!-- .drop-down-menu-container -->
      </div> <!-- .user-info -->
    </div>
    <!-- /menu 1 -->

    <!-- menu 2 -->
    <div class="header-item header-nav-menu-container">
      <a href="#" id="npm-expansions" class="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">New Project, Monday</a>

      <div class="nav-menu-container" role="navigation">
        <a class="nav-toggle drop-down-menu-toggle" href="#product-navigation"><span class="a11y-only">Toggle Navigation</span>
          <img alt="mobile navigation menu" src="/static/images/mobile-menu.png">
        </a>


        <div class="drop-down-menu-container" role="menu">
          <nav id="product-navigation" class="product-navigation drop-down-menu">
            <ul class="drop-down-menu-section products-list">
              <li><a href="/npm/on-site" class="h6">npm On-Site</a></li>
              <li><a href="/npm/private-packages" class="h6" data-event-trigger="click" data-event-name="private-modules-nav-link">npm Private Packages</a></li>
              <li><a href="/npm/open-source" class="h6">npm Open Source</a></li>
              <li><a href="https://docs.npmjs.com" class="h6">documentation</a></li>
              <li><a href="/support" class="h6">support</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /menu 2 -->



  </header>
<div class="pane bg-dark-2 viewport-pane-long">
  <div class="container">
    <h1 class="type-neutral-11">This is a long viewport pane</h1>
  </div>
</div>
```

When following a transparent header, the `viewport-pane` class will allow the pane's color
to come through

```html_example
<header class="hero-transparent logged-in">
    <!-- logo -->
    <div class="header-item brand-container">
      <div class="logo-container" id="npm-logo">
        <a href="/" class="active"><img src="/static/images/npm-logo.svg" alt="npm logo"></a>
      </div>
    </div>
    <!-- /logo -->


    <!-- search -->
    <div class="header-item header-search-container">
      <form class="site-search" id="npm-search" action="/search" method="get" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="https://www.npmjs.com/search?q={q}">
        <div id="site-search-container">
            <input name="q" value="" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" autocomplete="off">
        </div>
        <input type="submit">
      </form>
    </div>

    <!-- menu 1 -->
    <div class="header-item user-info-container">
      <div class="user-info">
          <div class="drop-down-menu-container" role="navigation">

            <a id="user-info-drop-down-menu-toggle" class="drop-down-menu-toggle" href="#user-info-menu" role="button" aria-haspopup="true" aria-owns="user-info-menu"><span class="a11y-only">Toggle User Menu</span>
              <span class="user-info-salutation" data-user-name="rockbot" data-is-paid="">Greetings, <span id="salutation-username">rockbot</span></span>
              <img alt="" src="https://s.gravatar.com/avatar/583a0cfd3e0ec851166c5c6fa5e506a5?size=50&amp;default=retro">
            </a>

            <div role="menu" id="user-info-menu" class="drop-down-menu" aria-labelledby="user-info-drop-down-menu-toggle">
              <div class="drop-down-menu-section">
                <ul>
                  <li><a href="/~rockbot">profile</a></li>
                  <li><a href="/profile-edit">personal info</a></li>
                  <li><a href="/settings/billing">billing</a></li>
                  <li><a href="/settings/tokens">tokens</a></li>
                  <li><form method="POST" action="/logout">  <input type="hidden" name="crumb" value="jSXg5k67i29hI9QD2ShPcL1Olq77qMooJV2OsN8yYKA">
<button type="submit" class="btn-link">logout</button></form></li>
                </ul>
              </div> <!-- .drop-down-menu-section -->
            </div> <!-- .drop-down-menu -->
          </div> <!-- .drop-down-menu-container -->
      </div> <!-- .user-info -->
    </div>
    <!-- /menu 1 -->

    <!-- menu 2 -->
    <div class="header-item header-nav-menu-container">
      <a href="#" id="npm-expansions" class="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">New Project, Monday</a>

      <div class="nav-menu-container" role="navigation">
        <a class="nav-toggle drop-down-menu-toggle" href="#product-navigation"><span class="a11y-only">Toggle Navigation</span>
          <img alt="mobile navigation menu" src="/static/images/mobile-menu.png">
        </a>


        <div class="drop-down-menu-container" role="menu">
          <nav id="product-navigation" class="product-navigation drop-down-menu">
            <ul class="drop-down-menu-section products-list">
              <li><a href="/npm/on-site" class="h6">npm On-Site</a></li>
              <li><a href="/npm/private-packages" class="h6" data-event-trigger="click" data-event-name="private-modules-nav-link">npm Private Packages</a></li>
              <li><a href="/npm/open-source" class="h6">npm Open Source</a></li>
              <li><a href="https://docs.npmjs.com" class="h6">documentation</a></li>
              <li><a href="/support" class="h6">support</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /menu 2 -->



  </header>
<div class="pane bg-npm-brand viewport-pane">
  <div class="container">
    <h1 class="type-neutral-11">This is a viewport pane that shows color underneath the header</h1>
  </div>
</div>
```

In the case where you'd like the viewport to not show up at certain viewport sizes, you can use
`not-full-viewport-*` syntax.

These situations all assume a scenario where the viewport height at least `600px`.
<table class="styleguide">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small devices
        <small>Phones (&lt;768px)</small>
      </th>
      <th>
        Small devices
        <small>Tablets (&geq;768px)</small>
      </th>
      <th>
        Medium devices
        <small>Desktops (&geq;992px)</small>
      </th>
      <th>
        Large devices
        <small>Desktops (&geq;1200px)</small>
      </th>
      <th>
        Extra large devices
        <small>Desktops (&geq;1600px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.not-full-viewport-xs</code></th>
      <td class="is-hidden">Not full screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.not-full-viewport-sm</code></th>
      <td class="is-visible">Full Screen</td>
      <td class="is-hidden">Not full screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.not-full-viewport-md</code></th>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-hidden">Not full screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.not-full-viewport-lg</code></th>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-hidden">Not full screen</td>
      <td class="is-visible">Full Screen</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.not-full-viewport-xl</code></th>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-visible">Full Screen</td>
      <td class="is-hidden">Not full screen</td>
    </tr>
  </tbody>
</table>



*/

.viewport-pane,
.viewport-pane-long {
  min-height: calc(100vh - #{$header-height-max-sm});
}

.hero-transparent + .viewport-pane {
  box-sizing: content-box;
}

@media (min-height: $screen-height-sm) {
  .viewport-pane {
    min-height: calc(75vh - #{$header-height-max-lg});
  }
  .viewport-pane-long {
    min-height: calc(100vh - 2em - #{$header-height-max-lg});
  }
}

@media (min-height: $screen-height-sm) and (max-width: $screen-xs-max) {
  .viewport-pane.not-full-viewport-xs {
    min-height: 0 !important;
  }
}

@media (min-height: $screen-height-sm) and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .viewport-pane.not-full-viewport-sm {
    min-height: 0 !important;
  }
}

@media (min-height: $screen-height-sm) and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .viewport-pane.not-full-viewport-md {
    min-height: 0 !important;
  }
}

@media (min-height: $screen-height-sm) and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .viewport-pane.not-full-viewport-lg {
    min-height: 0 !important;
  }
}

@media (min-height: $screen-height-sm) and (min-width: $screen-xl-min) {
  .viewport-pane.not-full-viewport-xl {
    min-height: 0 !important;
  }
}
