@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Flex Grids
name: flex-grid
parent: grid
---

Holy grail layout (three columns of equal height):

```html_example
<div class="flex-row flex-justify-center-xs">
 <div class="flex-item-xs-6 flex-col">
  <div class="flex-item-xs flex-col panel panel-basic-accent panel-accent-npm-brand">
   <div class="panel-header">
    <h5 class="panel-title-alt">Short Panel</h5>
   </div>
   <div class="panel-body flex-item-xs">
    Short content
   </div>
   <div class="panel-footer">
    Footer
   </div>
  </div>
 </div>
 <div class="flex-item-xs-6 flex-col">
  <div class="flex-item-xs flex-col panel panel-basic-accent panel-accent-npm-blue-2">
   <div class="panel-header">
    <h5 class="panel-title-alt">Long Panel</h5>
   </div>
   <div class="panel-body flex-item-xs">
    Long content<br>
    Long content<br>
    Long content<br>
    Long content<br>
    Long content<br>
   </div>
   <div class="panel-footer">
    Footer
   </div>
  </div>
 </div>
 <div class="flex-item-xs-6 flex-col">
  <div class="flex-item-xs flex-col panel panel-basic-accent panel-accent-npm-warm-3">
   <div class="panel-header">
    <h5 class="panel-title-alt">Medium Panel</h5>
   </div>
   <div class="panel-body flex-item-xs">
    Medium content<br>
    Medium content<br>
    Medium content<br>
   </div>
   <div class="panel-footer">
    Footer
   </div>
 </div>
</div>
```

Auto-sized flex items: Each divides space with its siblings to fill the row.

```html_example
<div class="flex-row mbxl">
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
</div>
<div class="flex-row mbxl">
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
</div>
<div class="flex-row mbxl">
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
 <div class="flex-item-xs">
  <div class="bg-neutral-10">
   &nbsp;
  </div>
 </div>
</div>
```

Grid sizes

```html_example
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-1">
  <div class="bg-neutral-10">
   1
  </div>
 </div>
 <div class="txt-c flex-item-xs-23">
  <div class="bg-neutral-10">
   23
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-2">
  <div class="bg-neutral-10">
   2
  </div>
 </div>
 <div class="txt-c flex-item-xs-22">
  <div class="bg-neutral-10">
   22
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-3">
  <div class="bg-neutral-10">
   3
  </div>
 </div>
 <div class="txt-c flex-item-xs-21">
  <div class="bg-neutral-10">
   21
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-4">
  <div class="bg-neutral-10">
   4
  </div>
 </div>
 <div class="txt-c flex-item-xs-20">
  <div class="bg-neutral-10">
   20
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-5">
  <div class="bg-neutral-10">
   5
  </div>
 </div>
 <div class="txt-c flex-item-xs-19">
  <div class="bg-neutral-10">
   19
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-6">
  <div class="bg-neutral-10">
   6
  </div>
 </div>
 <div class="txt-c flex-item-xs-18">
  <div class="bg-neutral-10">
   18
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-7">
  <div class="bg-neutral-10">
   7
  </div>
 </div>
 <div class="txt-c flex-item-xs-17">
  <div class="bg-neutral-10">
   17
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-8">
  <div class="bg-neutral-10">
   8
  </div>
 </div>
 <div class="txt-c flex-item-xs-16">
  <div class="bg-neutral-10">
   16
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-9">
  <div class="bg-neutral-10">
   9
  </div>
 </div>
 <div class="txt-c flex-item-xs-15">
  <div class="bg-neutral-10">
   15
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-10">
  <div class="bg-neutral-10">
   10
  </div>
 </div>
 <div class="txt-c flex-item-xs-14">
  <div class="bg-neutral-10">
   14
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-11">
  <div class="bg-neutral-10">
   11
  </div>
 </div>
 <div class="txt-c flex-item-xs-13">
  <div class="bg-neutral-10">
   13
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-12">
  <div class="bg-neutral-10">
   12
  </div>
 </div>
 <div class="txt-c flex-item-xs-12">
  <div class="bg-neutral-10">
   12
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-13">
  <div class="bg-neutral-10">
   13
  </div>
 </div>
 <div class="txt-c flex-item-xs-11">
  <div class="bg-neutral-10">
   11
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-14">
  <div class="bg-neutral-10">
   14
  </div>
 </div>
 <div class="txt-c flex-item-xs-10">
  <div class="bg-neutral-10">
   10
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-15">
  <div class="bg-neutral-10">
   15
  </div>
 </div>
 <div class="txt-c flex-item-xs-9">
  <div class="bg-neutral-10">
   9
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-16">
  <div class="bg-neutral-10">
   16
  </div>
 </div>
 <div class="txt-c flex-item-xs-8">
  <div class="bg-neutral-10">
   8
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-17">
  <div class="bg-neutral-10">
   17
  </div>
 </div>
 <div class="txt-c flex-item-xs-7">
  <div class="bg-neutral-10">
   7
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-18">
  <div class="bg-neutral-10">
   18
  </div>
 </div>
 <div class="txt-c flex-item-xs-6">
  <div class="bg-neutral-10">
   6
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-19">
  <div class="bg-neutral-10">
   19
  </div>
 </div>
 <div class="txt-c flex-item-xs-5">
  <div class="bg-neutral-10">
   5
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-20">
  <div class="bg-neutral-10">
   20
  </div>
 </div>
 <div class="txt-c flex-item-xs-4">
  <div class="bg-neutral-10">
   4
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-21">
  <div class="bg-neutral-10">
   21
  </div>
 </div>
 <div class="txt-c flex-item-xs-3">
  <div class="bg-neutral-10">
   3
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-22">
  <div class="bg-neutral-10">
   22
  </div>
 </div>
 <div class="txt-c flex-item-xs-2">
  <div class="bg-neutral-10">
   2
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-23">
  <div class="bg-neutral-10">
   23
  </div>
 </div>
 <div class="txt-c flex-item-xs-1">
  <div class="bg-neutral-10">
   1
  </div>
 </div>
</div>
<div class="flex-row mvxl">
 <div class="txt-c flex-item-xs-24">
  <div class="bg-neutral-10">
   24
  </div>
 </div>
</div>
```

Row-major:

```html_example
<div class="flex-col">
 <div class="flex-item-xs flex-row mvxl">
  <div class="flex-item-xs"><div style="height: 300px" class="pal bg-neutral-10">Tall</div></div>
  <div class="flex-item-xs"><div style="height: 200px" class="pal bg-neutral-10">World</div></div>
 </div>
 <div class="flex-item-xs flex-row mvxl">
  <div class="flex-item-xs"><div style="height: 300px" class="pal bg-neutral-10">Tall</div></div>
  <div class="flex-item-xs"><div style="height: 200px" class="pal bg-neutral-10">World</div></div>
 </div>
</div>
```

Wrapping and offsetting:

```html_example
<div class="flex-row">
 <div class="flex-item-xs-offset-6 flex-item-xs-12 mbxl">
  <div class="bg-neutral-10">Offset 6, Size 12</div>
 </div>
 <div class="flex-item-xs-6 mbxl">
  <div class="bg-neutral-10">Offset 0, Size 6</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">Offset 0, Size 4</div>
 </div>
 <div class="flex-item-xs-offset-4 flex-item-xs-16 mbxl">
  <div class="bg-neutral-10">Offset 4, Size 16</div>
 </div>
</div>
```

Alignment and justification:

```html_example
<div class="flex-row flex-justify-start-xs">
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">flex-justify-start-xs</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
</div>
<div class="flex-row flex-justify-center-xs">
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">flex-justify-center-xs</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
</div>
<div class="flex-row flex-justify-end-xs">
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs-4 mbxl">
  <div class="bg-neutral-10">flex-justify-end-xs</div>
 </div>
</div>

<hr>

<div class="flex-row flex-align-start-xs">
 <div class="flex-item-xs mbxl"><div class="bg-neutral-10 pal" style="height: 5em">Tall</div></div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">align start</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
</div>
<div class="flex-row flex-align-center-xs">
 <div class="flex-item-xs mbxl"><div class="bg-neutral-10 pal" style="height: 5em">Tall</div></div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">align center</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
</div>
<div class="flex-row flex-align-end-xs">
 <div class="flex-item-xs mbxl"><div class="bg-neutral-10 pal" style="height: 5em">Tall</div></div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">&nbsp;</div>
 </div>
 <div class="flex-item-xs mbxl">
  <div class="bg-neutral-10">align end</div>
 </div>
</div>

*/

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -(floor($grid-gutter-width / 2));
  margin-right: -(ceil($grid-gutter-width / 2));
}

.flex-col {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin flex-base {
  box-sizing: border-box;
  flex: 0 0 auto;
  .flex-row>& { // Only horizontally do we make gutters
    padding-left: floor($grid-gutter-width / 2);
    padding-right: ceil($grid-gutter-width / 2);
  }
}

.flex-item-xs {
  @include flex-base;
  flex-grow: 1;
  max-width: 100%;
}

@for $i from 1 through $grid-columns {
 .flex-item-xs-offset-#{$i} {
   @include flex-base;
   margin-left: (100% / $grid-columns * $i);
 }
 .flex-item-xs-#{$i} {
   @include flex-base;
   flex-basis: (100% / $grid-columns * $i) !important;
   max-width: (100% / $grid-columns * $i);
 }
 @media (max-width: $screen-sm-min) {
  .flex-item-sm-offset-#{$i} {
    @include flex-base;
    margin-left: (100% / $grid-columns * $i);
  }
  .flex-item-sm-#{$i} {
    @include flex-base;
    flex-basis: (100% / $grid-columns * $i) !important;
    max-width: (100% / $grid-columns * $i);
  }
 }
 @media (max-width: $screen-md-max) {
  .flex-item-md-offset-#{$i} {
    @include flex-base;
    margin-left: (100% / $grid-columns * $i);
  }
  .flex-item-md-#{$i} {
    @include flex-base;
    flex-basis: (100% / $grid-columns * $i) !important;
    max-width: (100% / $grid-columns * $i);
  }
 }
 @media (max-width: $screen-lg-max) {
  .flex-item-lg-offset-#{$i} {
    @include flex-base;
    margin-left: (100% / $grid-columns * $i);
  }
  .flex-item-lg-#{$i} {
    @include flex-base;
    flex-basis: (100% / $grid-columns * $i) !important;
    max-width: (100% / $grid-columns * $i);
  }
 }
}

.flex-justify-start-xs {
  justify-content: flex-start;
}

.flex-justify-center-xs {
  justify-content: center;
}

.flex-justify-end-xs {
  justify-content: flex-end;
}

.flex-align-start-xs {
  align-items: flex-start;
}

.flex-align-center-xs {
  align-items: center;
}

.flex-align-end-xs {
  align-items: flex-end;
}

@media (max-width: $screen-sm-min) {
  .flex-justify-start-sm {
    justify-content: flex-start;
  }

  .flex-justify-center-sm {
    justify-content: center;
  }

  .flex-justify-end-sm {
    justify-content: flex-end;
  }

  .flex-align-start-sm {
    align-items: flex-start;
  }

  .flex-align-center-sm {
    align-items: center;
  }

  .flex-align-end-sm {
    align-items: flex-end;
  }
}

@media (max-width: $screen-md-max) {
  .flex-justify-start-md {
    justify-content: flex-start;
  }

  .flex-justify-center-md {
    justify-content: center;
  }

  .flex-justify-end-md {
    justify-content: flex-end;
  }

  .flex-align-start-md {
    align-items: flex-start;
  }

  .flex-align-center-md {
    align-items: center;
  }

  .flex-align-end-md {
    align-items: flex-end;
  }
}

@media (max-width: $screen-lg-max) {
  .flex-justify-start-lg {
    justify-content: flex-start;
  }

  .flex-justify-center-lg {
    justify-content: center;
  }

  .flex-justify-end-lg {
    justify-content: flex-end;
  }

  .flex-justify-start-lg {
    align-items: flex-start;
  }

  .flex-align-center-lg {
    align-items: center;
  }

  .flex-align-end-lg {
    align-items: flex-end;
  }
}
