@import "../pui-variables";
@import "../mixins";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';


/*doc
---
title: Panels
name: panel
categories:
  - css_components_panels
---


<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install @npmcorp/pui-css-panels --save
</i>
</code>


Panels are often used to group related content. They include box headers, footers, and can be combined with any backgrounds.

Panels are typically a combination of contours, backgrounds, and content including headers and footers. This section describes the contours.

*/

.panel { // resets bootstrap default
  box-shadow: none;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  //background-color: transparent; // Bootstrap Override
}

.panel-title {
  font-size: inherit; // Bootstrap Override for React Collapses
}

.panel-title-alt {
  padding: $panel-title-padding;
  border-bottom: $panel-title-border;
  font-weight: $panel-title-font-weight;
  color: $panel-title-text;
}


/*doc
---
title: Simple
name: panel_simple
parent: panel
---

```html_example
<div class="panel panel-simple bg-neutral-11">
  <div class="panel-body">
    Simple Panel
  </div>
</div>
```

*/

.panel-simple {
  border: $panel-simple-border;
}

/*doc
---
title: Basic Alternate
name: panel_basic_alt
parent: panel
---

Basic alternate panels are panels with a border and shadow. You can have a panel-basic-alt with or without a title.

```html_example
<div class="panel panel-basic-alt">
  <div class="panel-header">
    <h5 class="panel-title-alt">Basic Title Alt</h5>
  </div>
  <div class="panel-body">
    Basic Panel
  </div>
</div>

<div class="panel panel-basic-alt">
  <div class="panel-body">
    Basic Panel
  </div>
</div>
```

*/

.panel-basic-alt {
  border: $panel-basic-alt-border;
  border-radius: $panel-basic-alt-border-radius;
  @include background-clip-fix;
  border-bottom: $panel-basic-alt-border-bottom;
  background-color: $panel-basic-alt-background;
}

/*doc
---
title: Scrollable
name: panel_scrollable
parent: panel
---

The scrollable panel sets a fixed height of 183px and scrolls any content that is larger. If you want a different size, set an inline style on the `.panel-scrollable`.

```html_example
<div class="panel panel-scrollable bg-neutral-11">
  <div class="panel-body">
    <p>Lo-fi fixie aute irony skateboard, officia pug. VHS Kickstarter semiotics elit ad. XOXO fashion axe Neutra aesthetic nihil, before they sold out seitan photo booth bitters paleo ea. XOXO mustache consectetur jean shorts wolf banh mi, food truck aute odio Neutra polaroid artisan mlkshk. Chillwave aesthetic hashtag, 3 wolf moon Neutra umami DIY swag eu veniam. Blue Bottle fap kale chips veniam kogi, placeat yr Portland nesciunt sustainable iPhone. Single-origin coffee messenger bag locavore Schlitz, ea farm-to-table aliquip anim umami master cleanse. Delectus selfies placeat, tilde hoodie qui selvage consectetur cred master cleanse readymade pop-up assumenda nisi. Eu deep v brunch McSweeney's. Raw denim aliquip Banksy, proident cred banjo qui placeat Brooklyn fashion axe crucifix normcore aesthetic. Esse Pinterest organic anim American Apparel, wolf next level Tumblr laboris normcore pop-up dolore lo-fi put a bird on it trust fund. Laborum organic authentic Williamsburg plaid, Wes Anderson dolore sunt chia small batch synth Carles cliche tilde. Food truck ethical freegan velit, Kickstarter semiotics labore American Apparel biodiesel street art gentrify trust fund. Selfies Austin ex, organic art party authentic ullamco kitsch plaid placeat roof party cornhole deserunt aute.</p>
  </div>
</div>
```

*/

.panel-scrollable {
  max-height: 183px;
  overflow-y: overlay;
  overflow-x: hidden;
}

/*doc
---
title: Highlight
name: panel_highlight
parent: panel
---

This panel is used to highlight more important parts of the page.

```html_example
<div class="panel panel-highlight">
  <div class="panel-body">
    Not Hoverable (use when the panel has no associated action, for instance if the action is disabled due to lack of permissions)
  </div>
</div>
```

*/

.panel-highlight {
  background-color: $gray-10;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 $shadow-3;

  &.title-panel h1{
    overflow: hidden;
    @include text-overflow;
  }
}

/*doc
---
title: Basic Accent
name: panel_basic_accent
parent: panel
---

These panels are for the pricing pane.

```html_example_table
<div class="panel panel-basic-accent panel-accent-npm-brand">
  <div class="panel-body">
    Red panel
  </div>
</div>

<div class="panel panel-basic-accent panel-accent-npm-blue-2">
  <div class="panel-body">
    Blue panel
  </div>
</div>

<div class="panel panel-basic-accent panel-accent-npm-warm-3">
  <div class="panel-body">
    Gold panel
  </div>
</div>
```

*/

.panel-basic-accent {
  @extend .panel-basic-alt;
  border-width: 1px;
  border-top-color: $panel-basic-alt-border;
  border-top-width: 7px;
  border-radius: 7px;
}

.panel-accent-npm-brand { border-top-color: $npm-brand; }
.panel-accent-npm-warm-1 { border-top-color: $npm-warm-1; }
.panel-accent-npm-warm-2 { border-top-color: $npm-warm-2; }
.panel-accent-npm-warm-3 { border-top-color: $npm-warm-3; }
.panel-accent-npm-blue-1 { border-top-color: $npm-blue-1; }
.panel-accent-npm-blue-2 { border-top-color: $npm-blue-2; }
.panel-accent-npm-blue-3 { border-top-color: $npm-blue-3; }
.panel-accent-npm-pastel-1 { border-top-color: $npm-pastel-1; }
.panel-accent-npm-pastel-2 { border-top-color: $npm-pastel-2; }
.panel-accent-npm-pastel-3 { border-top-color: $npm-pastel-3; }
.panel-accent-npm-pastel-4 { border-top-color: $npm-pastel-4; }
.panel-accent-npm-pastel-5 { border-top-color: $npm-pastel-5; }
.panel-accent-npm-pastel-6 { border-top-color: $npm-pastel-6; }
.panel-accent-npm-pastel-7 { border-top-color: $npm-pastel-7; }
.panel-accent-npm-pastel-8 { border-top-color: $npm-pastel-8; }
.panel-accent-npm-pastel-9 { border-top-color: $npm-pastel-9; }
.panel-accent-npm-navy-1 { border-top-color: $npm-navy-1; }
.panel-accent-npm-navy-2 { border-top-color: $npm-navy-2; }
.panel-accent-npm-navy-headings { border-top-color: $npm-navy-headings; }
.panel-accent-npm-navy-text { border-top-color: $npm-navy-text; }

/*doc
---
title: Shadow
name: panel_shadow
parent: panel
---

Shadow panels add a bottom shadow to the panel.

```html_example_table
<div class="panel panel-shadow-1 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-2 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-3 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-4 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>
```

*/
.panel-shadow {
  border: none; //Bootstrap override
  @include background-clip-fix;
}

.panel-shadow-1 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-1;
}

.panel-shadow-2 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-2;
}

.panel-shadow-3 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-3;
}

.panel-shadow-4 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-4;
}

/*doc
---
title: Clickable
name: panel_clickable
parent: panel
---

These panels lighten on hover to indicate that they are clickable.
Please use them when a click on the panel triggers an action.

```html_example_table
<div class="panel panel-clickable">
  <div class="panel-body">
    Panel Clickable
  </div>
</div>

<div class="panel panel-clickable-alt">
  <div class="panel-body">
    Panel Clickable Alt
  </div>
</div>
```

Sometimes you'll also want to adapt the way child elements look
based on a hover on the parent element. There are a few
helper classes for that.


```html_example_table
<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-1">
      hover-target-1 - default text color => link color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-2">
      hover-target-2 - light gray text => default text color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-3">
      hover-target-3 - $gray-9 background => white background
    </p>
  </div>
</a>
```

*/

.panel-clickable {
  display: block;
  background-color: $gray-9;
  cursor: pointer;
  @include transition-pui();

  .hover-target-1, .hover-target-2, .hover-target-3 {
    @include transition-pui();
  }

  .hover-target-1 {
    color: $text-color;
  }

  .hover-target-2 {
    color: $gray-5;
  }

  .hover-target-3 {
    background-color: $gray-10;
  }

  &:hover{
    background-color: $gray-10;

    .hover-target-1 { // default text color => link color
      color: $link-color;
    }
    .hover-target-2 { // light gray => default text color
      color: $text-color;
    }
    .hover-target-3{
      background-color: $gray-11;
    }
  }
}

.panel-clickable-alt {
  @extend .panel-highlight;
  @extend .panel-clickable;
  background-color: $gray-10;

  &:hover {
    background-color: $gray-11;
    box-shadow: 0 4px 0 0 $shadow-2;
  }
}
