<!doctype html>
<html>
  <head>
    <link href='pivotal-ui.css' rel='stylesheet'>
    <script src="pivotal-ui.js"></script>
  </head>
  <body>
    {{fromPackage "@npmcorp/pui-css-header/header.hbs" .}}

    <div class="pane" style="background-image: linear-gradient(180deg, #245978, #1F698E);">
      <div class="container bg-contain bg-bottom-right nobg-xs" style="background-image: url(/styleguide/bg-enterprise-hero.svg); ">
        <div class="row">
          <div class="col-sm-13 col-md-10 col-sm-offset-1 col-xs-20 col-xs-offset-2">
            <h1 class="h1 em-high type-neutral-11">Take enterprise development to new heights</h1>
            <p class="h5 em-default type-neutral-11 pbxl">
              npm Enterprise helps large teams share, discover, and re-use code —
              behind the corporate firewall — so they can build amazing things.
            </p>
            <a href="/on-site#free-trial" class="btn btn-highlight-1 mrl mbxl">Start a free trial</a>
            <a href="/enterprise/license" class="btn btn-default-alt mbxl">Buy a license</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
