<!doctype html>
<html>
  <head>
    <link href='pivotal-ui.css' rel='stylesheet'>
    <script src="pivotal-ui.js"></script>
  </head>
  <body>{{fromPackage "@npmcorp/pui-css-header/header.hbs" .}}</body>
</html>
