@import "../pui-variables";
@import "../mixins";

/*doc
---
title: Links
name: link
categories:
 - css_base_links
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install @npmcorp/pui-css-links --save
</i>
</code>


Add the class `link-text` on any text links.
This will make the link underlined on hover (except lowlight links).

```html_example
<a class="link-text" href="http://bitly.com/11vCzUx">
  <i class="fa fa-plus"></i> Click me!
</a>
```

There are four main different kinds of links you can use to connect related content.
In most cases (unless the designer specifically asks for another type of link)
you should choose the default link.

Link                                                                                                              | Class                           | Description
--------------------------------------------------------------------------------------------------------------    | ----------------------------    | -----------
<a class="link-text" href="http://bit.ly/1ulOAW7" target="_blank">default link</a>                                | `link-text`                     | Important links
<a class="link-text link-lowlight" href="http://bit.ly/1ulOAW7" target="_blank">lowlight link</a>                 | `link-text link-lowlight`       | Less important links
<a class="link-text link-inverse bg-dark-1" href="http://bit.ly/1ulOAW7" target="_blank">inverse link</a>         | `link-text link-inverse`        | I go on a non-white background

```html_example
Here's a <a class="link-text link-lowlight" href="http://bit.ly/1wO7Nhv">less important link</a>
```

There is also a vanity `.npm-loves-you` link that you can use

Link                                                                               | Class                           | Description
-------------------------------------------------------------------------------    | ----------------------------    | -----------
<a class="npm-loves-you" href="/">npm loves you</a>                                | `npm-loves-you`                 | A whimsical love-filled display of link

```html_example
<a class="npm-loves-you" href="/">Here's an npm loves you link</a>
```

*/

a{
  color: $link-color;
  @include transition-pui();

  &:hover, &:focus {
    cursor: pointer;
    color: lighten($link-color, 6%);
  }

  &:active, &.active{
    color: darken($link-color, 6%);
  }

  &.link-text {
    font-weight: $link-lowlight-font-weight;
  }
}


.link-lowlight {
  font-weight: $link-lowlight-font-weight;
  color: $link-lowlight-color;

  &:hover, &:focus {
    color: lighten($link-lowlight-color, 6%);
  }

  &:active, &.active {
    color: darken($link-lowlight-color, 6%);
  }
}

.link-simple {
  @extends .link-lowlight;
  text-decoration: underline;
}

.link-inverse {
  color: $link-inverse-color;

  &:hover, &:focus {
    color: lighten($link-inverse-color, 6%);
  }

  &:active, &.active {
    color: darken($link-inverse-color, 6%);
  }
}

.npm-loves-you {
  display: inline-block;
  text-decoration: none;
  position: relative;

  &:before,
  &:after {
    content: "\2665";
    font-size: 14px;
    transition: all 0.3s;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 1px;
    opacity: 0;
  }

  &:before {
    left: -10px;
  }

  &:after {
    right: -10px;
  }

  &:hover {
    text-decoration: none;
    opacity: 1;

    &:before,
    &:after {
      opacity: 1;
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -15px;
    }
  }
}


/*pending
---
title: Gentle Scroll Links
name: gentle-scroll
categories:
  - Utilities
  - Objects
  - All
---

If you want to gently scroll from one part of the page to another, you'll need to add
a `data-behavior: GentleScroll` to the trigger element as well as an `href` for the
id of the target it will scroll to.

```html_example
<a class="btn btn-default" data-behavior="GentleScroll" href="#scroll-target">Scroll Trigger</a>
```

It can scroll to anything, in this case, we'll use a text input.

```html_example
<input class="form-control" id="scroll-target" placeholder="Scroll target" type="text"></input>
```

*/

