<div class="panel panel-basic-alt maxl pal bg-neutral-10">
  <div class="panel-body paxxl">
    {{svg "@npmcorp/pui-css-meta/plan-solo.svg" class="img-responsive"}}
    <h3 class="em-low txt-c"><em><strong>Features</strong> of<br>Solo</em></h3>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/807-package@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Search and discover over 280,000 packages
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g7/Normal/1072-terminal@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Work with open source &amp; private packages
      </div>
    </div>
    <div class="media">
      <div class="media-left  media-middle">
        {{icon "@npm/glyphish/svg/g7/Normal/1049-at-sign@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Control access to a dedicated namespace
      </div>
    </div>
  </div>
</div>
