@import "../pui-variables";

/*doc
---
title: Meta
name: meta
categories:
 - css_base_meta
 - css_all
---

This section is for all of the meta components that we will be using throughout the site. More often than not, they're examples for code that will need to be reused, but will not necessarily be components to use in and of themselves. They are meta components, composed by other components.

It's super meta.
*/

/*doc
---
title: Sidebar Component
name: 00_meta_sidebar
parent: meta
---

```html_example

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-basic-alt bg-neutral-10 pvxxl phxl">
      <div class="row">
        <div class="col-xs-8 txt-r">
          <img alt="support avatar" class="avatar" height="60" src="styleguide/avatar.svg" width="60">
        </div>
        <div class="col-xs-16">
          <h4>Need help?</h4>
          <p>We're here for you.</p>
        </div>
        <div class="col-xs-13 col-xs-offset-8 mtxl">
          <button class="btn btn-default btn-sm btn-block em-alt">Yes please!</button>
        </div>
      </div>
    </div>
  </div>
</div>

```
*/

/*doc
---
title: Expandable Sidebar Component
name: 01_meta_expandable_sidebar
parent: meta
---

```html_example

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-basic-alt bg-neutral-10 pvxxl phxl">
      <div class="row">
        <div class="col-xs-8 txt-r">
          <img alt="support avatar" class="avatar" height="60" src="styleguide/avatar.svg" width="60">
        </div>
        <div class="col-xs-16">
          <h4>Need help?</h4>
          <p>We're here for you.</p>
        </div>
        <div class="col-xs-13 col-xs-offset-8 mtxl">
          <button class="btn btn-default btn-sm btn-block em-alt">Yes please!</button>
        </div>
        <ul class="col-xs-24 list-unstyled">
          <li>
            <div class="col-xs-8 txt-r">
              <img alt="phone icon" class="avatar" height="60" src="styleguide/avatar.svg" width="60">
            </div>
            <div class="col-xs-16">
              <h4>Call us!</h4>
              <p>844-335-0303</p>
            </div>
          </li>
          <li>
            <div class="col-xs-8 txt-r">
              <img alt="calendar icon" class="avatar" height="60" src="styleguide/avatar.svg" width="60">
            </div>
            <div class="col-xs-16">
              <h4>Let us call you</h4>
              <a href="https://calendly.com/npmteam">Schedule a time</a>
            </div>
          </li>
          <li>
            <div class="col-xs-8 txt-r">
              <img alt="mail icon" class="avatar" height="60" src="styleguide/avatar.svg" width="60">
            </div>
            <div class="col-xs-16">
              <h4>Email us!</h4>
              <a href="mailto:sales@npmjs.com">sales@npmjs.com</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

```
*/