<div class="panel panel-basic-alt bg-neutral-10 pvxxl phxl" id="need-help-expandable">

  <div class="row">
    <div class="col-xs-7 col-xs-offset-1 txt-c">
      <img alt="support avatar" class="avatar" height="60" src="styleguide/orgs-svgeople-avatar.svg" width="60">
    </div>
    <div class="col-xs-16">
      <h4>Need help?</h4>
      <p>We're here for you.</p>
    </div>
    <div class="col-xs-13 col-xs-offset-7 mtxl">
      <a class="btn btn-default collapsed need-help type-neutral-4" data-toggle="collapse" href="#need-help-collapse-example" rel="noopener noreferrer" data-parent="need-help-expandable">
        <div class="when-collapsed">
          YES PLEASE!
        </div>
      </a>
    </div>
  </div>

  <div class="collapse" id="need-help-collapse-example">
    <ul class="list-unstyled">
      <li class="row">
        <div class="col-xs-7 col-xs-offset-1 txt-c ptm mbxl">
          {{icon "@npm/glyphish/svg/g4/498-twitter.svg" class="icon icon-title"}}
        </div>
        <div class="col-xs-16">
          <h5 class="em-low mbn mtn">Tweet us!</h5>
          <a class="type-neutral-1" href="https://twitter.com/npm_support">@npm_support</a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-7 col-xs-offset-1 txt-c ptm">
          {{icon "@npm/glyphish/svg/g5/558-mailbox.svg" class="icon icon-title"}}
        </div>
        <div class="col-xs-16">
          <h5 class="em-low mbn mtn">Email us!</h5>
          <a class="type-neutral-1" href="mailto:support@npmjs.com">support@npmjs.com</a>
        </div>
      </li>
    </ul>
  </div>

</div>