<div class="panel panel-basic-alt bg-neutral-10 pvxxl phxl" id="need-help-expandable">

  <div class="row">
    <div class="col-xs-7 col-xs-offset-1 txt-c">
      {{svg "@npmcorp/pui-css-meta/enterprise-svgeople-avatar.svg" alt="support avatar" class="avatar" height="60" width="60"}}
    </div>
    <div class="col-xs-16">
      <h4>Need help?</h4>
      <p>We're here for you.</p>
    </div>
    <div class="col-xs-13 col-xs-offset-7 mtxl">
      <a class="btn btn-default collapsed need-help type-neutral-4" data-toggle="collapse" href="#need-help-collapse-example" rel="noopener noreferrer" data-parent="need-help-expandable">
        <div class="when-collapsed">
          YES PLEASE!
        </div>
      </a>
    </div>
  </div>

  <div class="collapse" id="need-help-collapse-example">
    <ul class="list-unstyled">
      <li class="row">
        <div class="col-xs-7 col-xs-offset-1 txt-c ptm mbxl">
          {{icon "@npm/glyphish/svg/g5/692-iphone-5.svg" class="icon icon-title"}}
        </div>
        <div class="col-xs-16">
          <h5 class="em-low mbn mtn">Call us!</h5>
          <a class="type-neutral-1" href="tel:8443350303">844-335-0303</a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-7 col-xs-offset-1 txt-c ptm mbxl">
          {{icon "@npm/glyphish/svg/g5/563-calendar.svg" class="icon icon-title"}}
        </div>
        <div class="col-xs-16">
          <h5 class="em-low mbn mtn">Let us call you</h5>
          <a class="type-neutral-1" href="https://calendly.com/npmteam">Schedule a time</a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-7 col-xs-offset-1 txt-c ptm">
          {{icon "@npm/glyphish/svg/g5/558-mailbox.svg" class="icon icon-title"}}
        </div>
        <div class="col-xs-16">
          <h5 class="em-low mbn mtn">Email us!</h5>
          <a class="type-neutral-1" href="mailto:sales@npmjs.com">sales@npmjs.com</a>
        </div>
      </li>
    </ul>
  </div>

</div>