@import "../pui-variables";
@import '../mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Buttons
name: button
categories:
 - css_base_buttons
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-buttons --save
</i>
</code>

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example_table
<button class="btn btn-default">Button</button>

<a class="btn btn-default" aria-label="Trulia homepage" href="http://trulia.com">Link</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

*/


/*doc
---
title: Full Width
name: button_full_width
parent: button
---

There is an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Create block level buttons - those that span the full width of a parent - by adding `.btn-block`.

```html_example
<button class="btn btn-default btn-block">Full width button</button>
```

*/

.btn {
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius-large;
  padding: 10px 28px;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

/*doc
---
title: Styles
name: button_styles
parent: button
---


<table class="styleguide">
    <tbody>
    <tr>
        <th>Button</th>
        <th>Disabled</th>
        <th>Class</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><button class="btn btn-default">Default</button></td>
        <td><button class="btn btn-default" disabled="">Default</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-default</code></td>
        <td>This is what buttons look like, this is the go to button style.</td>
    </tr>
    <tr class="bg-npm-blue-2">
        <td><button class="btn btn-default-alt">Default alternate</button></td>
        <td><button class="btn btn-default-alt" disabled="">Default alternate</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-default-alt</code></td>
        <td class="type-neutral-11">This is what buttons look like, this is the go to button style (on dark backgrounds).</td>
    </tr>
    <tr>
        <td><button class="btn btn-primary">Primary</button></td>
        <td><button class="btn btn-primary" disabled="">Primary</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-primary</code></td>
        <td>Use this button for the primary action on a page/section</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-1">Highlight 1</button></td>
        <td><button class="btn btn-highlight-1" disabled="">Highlight  1</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-1</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-2">Highlight 2</button></td>
        <td><button class="btn btn-highlight-2" disabled="">Highlight  2</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-2</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-3">Highlight 1</button></td>
        <td><button class="btn btn-highlight-3" disabled="">Highlight  3</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-3</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-lowlight">Lowlight</button></td>
        <td><button class="btn btn-lowlight" disabled="">Lowlight</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-lowlight</code></td>
        <td>Use this button for unimportant or dangerous secondary actions like cancel/dismiss/delete</td>
    </tr>
    <tr>
        <td><button class="btn btn-danger">Delete</button></td>
        <td><button class="btn btn-danger" disabled="">Delete</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-danger</code></td>
        <td>This button is for delete actions, within the confirmation dialog, destructive actions should be lowlight within the app</td>
    </tr>
    </tbody>
</table>

*/

.btn-default {
  @include button-skin($btn-default-color, $btn-default-bg, $btn-default-border, null, $btn-default-border-hover, $background-activated: $btn-default-bg-hover);
}

.btn-default-alt {
  @include button-skin($btn-default-alt-color, $btn-default-alt-bg, $btn-default-alt-border, null, $btn-default-alt-border-hover);
}

.btn-primary {
  @include button-skin($btn-primary-color, $btn-primary-bg, $border: null, $color-disabled: $btn-primary-color-disabled);
}

.btn-link {
  @include button-skin($btn-link-color, $btn-link-bg);
}

.btn-lowlight {
   @include button-skin($btn-lowlight-color, $btn-lowlight-bg);
 }

// Danger and error appear as red
.btn-danger {
  @include button-skin($btn-danger-color, $btn-danger-bg, $border: null, $color-disabled: $btn-danger-color-disabled);
}

.btn-highlight-1 {
  @include button-skin($btn-highlight-1-color, $btn-highlight-1-bg, $border: null, $color-disabled: $btn-highlight-1-color-disabled);
}
.btn-highlight-2 {
  @include button-skin($btn-highlight-2-color, $btn-highlight-2-bg, $border: null, $color-disabled: $btn-highlight-2-color-disabled);
}
.btn-highlight-3 {
  @include button-skin($btn-highlight-3-color, $btn-highlight-3-bg, $border: null, $color-disabled: $btn-highlight-3-color-disabled);
}




/*doc
---
title: Sizes
name: button_sizes
parent: button
---

There are two sizes for buttons: Large and default. Simply apply the
size modifier class for the desired size.

```html_example_table
<button class="btn btn-default btn-sm em-alt">Small</button>

<button class="btn btn-default">Default</button>
```

*/

$btn-sm-padding: 5px 20px 4px 20px;
$btn-sm-font-size: $font-size-small;
$btn-sm-line-height: $line-height-small;
$btn-sm-border-radius: $border-radius-xl;


.btn-sm {
  // line-height: ensure even-numbered height of button next to large input
  @include pui-button-size($btn-sm-padding, $btn-sm-font-size, $btn-sm-line-height, $btn-sm-border-radius);
}

