@import "../pui-variables";
@import '../mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Buttons
name: button
categories:
 - css_base_buttons
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install @npmcorp/pui-css-buttons --save
</i>
</code>

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example_table
<button class="btn btn-default">Button</button>

<a class="btn btn-default" aria-label="Trulia homepage" href="http://trulia.com">Link</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

*/


/*doc
---
title: Full Width
name: button_full_width
parent: button
---

There is an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Create block level buttons - those that span the full width of a parent - by adding `.btn-block`.

```html_example
<button class="btn btn-default btn-block">Full width button</button>
```

*/

.btn {
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius-large;
  padding: $btn-padding;
  font-size: $btn-font-size;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

/*doc
---
title: Styles
name: button_styles
parent: button
---


<table class="styleguide">
    <tbody>
    <tr>
        <th>Button</th>
        <th>Disabled</th>
        <th>Class</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><button class="btn btn-default">Default</button></td>
        <td><button class="btn btn-default" disabled="">Default</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-default</code></td>
        <td>This is what buttons look like, this is the go to button style.</td>
    </tr>
    <tr class="bg-npm-blue-2">
        <td><button class="btn btn-default-alt">Default alternate</button></td>
        <td><button class="btn btn-default-alt" disabled="">Default alternate</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-default-alt</code></td>
        <td class="type-neutral-11">This is what buttons look like, this is the go to button style (on dark backgrounds).</td>
    </tr>
    <tr>
        <td><button class="btn btn-secondary">Secondary</button></td>
        <td><button class="btn btn-secondary" disabled="">Secondary</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-secondary</code></td>
        <td>This button should be used for the secondary action on the page. e.g. the upgrade button in the signup flow</td>
    </tr>
    <tr>
        <td><button class="btn btn-tertiary">Tertiary</button></td>
        <td><button class="btn btn-tertiary" disabled="">Tertiary</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-tertiary</code></td>
        <td>This button should be used whenever necessary. e.g. the Platform dropdown on the Enterprise install page</td>
    </tr>
    <tr>
        <td><button class="btn btn-primary">Primary</button></td>
        <td><button class="btn btn-primary" disabled="">Primary</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-primary</code></td>
        <td>Use this button for the primary action on a page/section</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-1">Highlight 1</button></td>
        <td><button class="btn btn-highlight-1" disabled="">Highlight  1</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-1</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-2">Highlight 2</button></td>
        <td><button class="btn btn-highlight-2" disabled="">Highlight  2</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-2</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-highlight-3">Highlight 1</button></td>
        <td><button class="btn btn-highlight-3" disabled="">Highlight  3</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-highlight-3</code></td>
        <td>Use this button for other important actions</td>
    </tr>
    <tr>
        <td><button class="btn btn-lowlight">Lowlight</button></td>
        <td><button class="btn btn-lowlight" disabled="">Lowlight</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-lowlight</code></td>
        <td>Use this button for unimportant or dangerous secondary actions like cancel/dismiss/delete</td>
    </tr>
    <tr>
        <td><button class="btn btn-lowlight">Link</button></td>
        <td><button class="btn btn-link" disabled="">Link</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-link</code></td>
        <td>Use this button to contrast navigation with action</td>
    </tr>
    <tr>
        <td><button class="btn btn-danger">Delete</button></td>
        <td><button class="btn btn-danger" disabled="">Delete</button></td>
        <td style="white-space: nowrap"><code class="styleguide">btn btn-danger</code></td>
        <td>This button is for delete actions, within the confirmation dialog, destructive actions should be lowlight within the app</td>
    </tr>
    </tbody>
</table>

*/

.btn-default {
  @include button-skin($btn-default-color, $btn-default-bg, $btn-default-border, null, $btn-default-border-hover, $background-activated: $btn-default-bg-hover);
}

.btn-default-alt {
  @include button-skin($btn-default-alt-color, $btn-default-alt-bg, $btn-default-alt-border, null, $btn-default-alt-border-hover);
}

.btn-primary {
  @include button-skin($btn-primary-color, $btn-primary-bg, $border: null, $color-disabled: $btn-primary-color-disabled);
}

.btn-secondary {
  @include button-skin($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border, null, $btn-secondary-border-hover, $background-activated: $btn-secondary-bg-hover);
  background: linear-gradient(0deg, $btn-secondary-gradient-color 0%, rgba(255, 255, 255, 0) 100%);
  &:hover {
    background: linear-gradient(0deg, saturate($btn-secondary-gradient-color, 60%) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.btn-tertiary {
  @include button-skin($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border, null, $btn-tertiary-border-hover, $btn-tertiary-bg-hover);
}

.btn-link {
  @include button-skin($btn-link-color, $btn-link-bg);
}

.btn-lowlight {
   @include button-skin($btn-lowlight-color, $btn-lowlight-bg);
 }

// Danger and error appear as red
.btn-danger {
  @include button-skin($btn-danger-color, $btn-danger-bg, $border: null, $color-disabled: $btn-danger-color-disabled);
}

.btn-highlight-1 {
  @include button-skin($btn-highlight-1-color, $btn-highlight-1-bg, $border: null, $color-disabled: $btn-highlight-1-color-disabled);
}
.btn-highlight-2 {
  @include button-skin($btn-highlight-2-color, $btn-highlight-2-bg, $border: null, $color-disabled: $btn-highlight-2-color-disabled);
}
.btn-highlight-3 {
  @include button-skin($btn-highlight-3-color, $btn-highlight-3-bg, $border: null, $color-disabled: $btn-highlight-3-color-disabled);
}




/*doc
---
title: Sizes
name: button_sizes
parent: button
---

There are two sizes for buttons: Large and default. Simply apply the
size modifier class for the desired size.

```html_example_table
<button class="btn btn-default btn-sm em-alt">Small</button>

<button class="btn btn-default">Default</button>

<button class="btn btn-default btn-lg em-low">Large button test</button>
```

*/


.btn-sm {
  // line-height: ensure even-numbered height of button next to large input
  @include pui-button-size($btn-sm-padding, $btn-sm-font-size, $btn-sm-line-height, $btn-sm-border-radius);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include pui-button-size($btn-lg-padding, $btn-lg-font-size, $btn-lg-line-height, $btn-lg-border-radius);
}

/*doc
---
title: Listening Button
name: button_listening
parent: button
---

Sometimes a button just wants to hear an event calling for it.

```html_example
<button class="btn btn-default" data-button-listening="FormInput:input" data-button-type="disable" data-username="jeff">Disable Me by typing jeff into the input below</button>

<input type="text" data-form-input-event="input" class="form-control" />

```

*/
